*{margin:0; padding:0; border:none; outline:none; font-weight: 300; box-sizing: border-box;}
body{background-color: #ffffff;}

.backg{height: 100vh;}
#logotopo{width: 100%; }
#iconsocial1{margin-right:16px; color:#e5e5e5;}

@media(min-width:800px){
#description1{background-color: #95e0fe; font-size: 32px; text-align: center;}
#description2{display: none;}
#iconsocial1{width:20vh;}
#divsocial1{width: 100%; display: flex;  justify-content: space-around; padding: 40px;}
#divsocial2{display: none;}
}

@media(max-width:800px){
#description1{display: none;}
#description2{background-color: #95e0fe; font-size: 16px; text-align: center;}
#iconsocial1{width:10vh;}
#divsocial1{display: none;}
#divsocial2{width: 100%; display: flex; flex-direction: column; }
#social001{width: 100%;  display: flex; justify-content: space-around; padding-top: 30px; padding-left: 24px; padding-right: 24px;}
#social002{width: 100%;display: flex; justify-content: space-around; padding-top: 24px; padding-left: 24px; padding-right: 24px;}

}

